# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Docker
docker-compose.override.yml
*.env
*.pid
docker-compose.override.yml
docker-compose.override.yml
Dockerfile
.dockerignore

# Prisma
backend/prisma/.env
backend/prisma/migrations/
backend/prisma/database.sqlite

# Dist folder
dist/

# IDE files
.idea/
.vscode/
.vscode-test/

# Tests
coverage/
*.lcov
nyc_output/

# Misc
.DS_Store
Thumbs.db

